@{
    ViewBag.Title = "Fruits Mart";
}

<div class="page-header">
    <h1>Fruits Home </h1>
    <small>Welcome to Fresh Fruits!</small>
</div>

<div class="row">
    <div class="col-lg-12 col-md-5 col-sm-10" style="float: left;"></div>
    <div class="input-sm input-group">
        <input type="text" class="form-control" placeholder="URL e.g: http://fruitsmart.com/home/fruits Or /home/fruits"/>
        <span class="input-group-btn">
            <button class="btn btn-primary" onclick="javascript: window.location.href = $('input').val();">GO!</button>
        </span>
    </div>
</div>

<div class="panel panel-primary" style="margin-top: 15px; ">
<!-- Default panel contents -->
<div class="panel-heading">Fruits Theme</div>
    <div class="panel-body">
        <p>To convey my work I decided to pick a theme and selected fruits as my theme, throughout the project you will notice everything in terms of fruits viz.,</p>
        <ol>
            <li>Action Method(s)</li>
            <li>Views</li>
            <li>ViewModels</li>
            <li>Models</li>
            <li>Images</li>
            <li>Content</li>
            <li>Naming Conventions</li>
        </ol>
    </div>
    </div>
